<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../styles/style.css">
	<title>Countdown timer</title>
</head>
<body class="countdown-timer">
	<header class="header">
		<h1>Wintersport</h1>
	</header>

	<section class="countdown-container">
		<div class="counter days-container">
			<p class="number" id="days">0</p>
			<span class="time-unit">days</span>
		</div>
		<div class="counter hours-container">
			<p class="number" id="hours">0</p>
			<span class="time-unit">hours</span>
		</div>
		<div class="counter minutes-container">
			<p class="number" id="minutes">0</p>
			<span class="time-unit">minutes</span>
		</div>
		<div class="counter seconds-container">
			<p class="number" id="seconds">0</p>
			<span class="time-unit">seconds</span>
		</div>
	</section>
</body>
</html>
<script src="../scripts/countdown-timer.js"></script>