<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../styles/style.css">
	<script src="https://kit.fontawesome.com/eed36a5c47.js" crossorigin="anonymous"></script>
	<title>Navbar</title>
</head>
<body class="bg-navbar">
	<header>
		<nav class="navbar">
			<div class="nav-header">
				<img src="../images/code-logo.png" class="logo" alt="Logo">
				<button class="nav-toggle">
					<i class="fa-solid fa-bars nav-icon"></i>
				</button>
			</div>
			<ul class="links">
				<li class="link">
					<a href="#" title="Go to the home page">Home</a> <!-- Use the title attribute for accessibility -->
				</li>
				<li class="link">
					<a href="#" title="Go to the about page">About</a>
				</li>
				<li class="link">
					<a href="#" title="Go to the projects page">Projects</a>
				</li>
				<li class="link">
					<a href="#" title="Go to the contact page">Contact</a>
				</li>
			</ul>
			<ul class="socials">
				<li class="social">
						<a href="instagram.com" target="_blank" title="View Instagram">
						<i class="fa-brands fa-square-instagram social-icon"></i>
					</a>
				</li>
				<li class="social">
					<a href="facebook.com" target="_blank" title="View Facebook">
						<i class="fa-brands fa-facebook-f social-icon"></i>
					</a>
				</li>
				<li class="social">
					<a href="linkedin.com" target="_blank" title="View Linkedin">
						<i class="fa-brands fa-linkedin-in social-icon"></i>
					</a>
				</li>
			</ul>
		</nav>
	</header>
</body>
</html>
<script src="../scripts/navbar.js"></script>