.countdown-timer {
	background-image: url("../images/snowy-mountains.jpg");
	background-size: cover;
	background-position: center center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	margin: $spacing-4 $spacing-2;
	h1 {
		font-weight: normal;
		font-size: $size-4;
	}
	.countdown-container {
		display: flex;
		.counter {
			text-align: center;
			.number {
				font-weight: bold;
				font-size: $size-3;
				line-height: 1;
				margin: 0 $spacing-3;
				@media (min-width: 768px) {
					font-size: $size-7;
				}
			}
			.time-unit {
				font-size: $size-2;
			}
		}
	}
}