@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

body {
	font-family: 'Poppins', sans-serif;
}

// Font-sizes
$size-1: 0.5rem;	// 8px
$size-2: 1rem;		// 16px
$size-3: 1.5rem;	// 24px
$size-4: 2rem;		// 32px
$size-5: 2.5rem;	// 40px
$size-6: 3rem;		// 48px
$size-7: 3.5rem;	// 56px