// Spacings
$spacing-1: 0.5rem;		// 8px
$spacing-2: 1rem;		// 16px
$spacing-3: 2rem;		// 32px
$spacing-4: 3rem;		// 48px
$spacing-5: 4rem;		// 64px

// Colors
$white: #F1F1F1;
$grey: #808080;
$grey-dark: #161616;
$black: #101010;

$lilac-light: #F8F6FA;
$red: #DC143C;
$red-dark: #880808;
$purple-light: #888FF5;

// Radius
$radius-1: 0.25rem; // 4px
$radius-2: 0.5rem; // 8px
$radius-3: 0.75rem; // 12px