@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.hero .hero-image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1609079332148-ce057e967197?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

.hero .hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  margin: 0 2rem;
}

@media (min-width: 768px) {
  .hero .hero-content {
    margin: 0 5rem;
  }
}

.hero .hero-content .hero-title {
  color: #F1F1F1;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .hero .hero-content .hero-title {
    font-size: 3.5rem;
  }
}

.hero .hero-content .hero-text {
  color: #F1F1F1;
  font-size: 1rem;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .hero .hero-content .hero-text {
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

.section {
  background-color: #01060c;
  padding: 4rem 2rem;
}

@media (min-width: 768px) {
  .section {
    padding: 5rem 7rem;
  }
}

.section .section-title {
  color: #F1F1F1;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .section .section-title {
    font-size: 2rem;
  }
}

.article-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  gap: 1rem;
}

@media (min-width: 768px) {
  .article-container {
    gap: 3rem;
  }
}

.article {
  position: relative;
  min-width: 18rem;
}

@media (min-width: 768px) {
  .article {
    min-width: 23rem;
  }
}

.article .article-img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.article .article-content {
  padding-top: 1rem;
}

.article .article-content .article-title {
  color: #F1F1F1;
  font-size: 1rem;
}

.article .article-content .article-descr {
  font-size: 1rem;
  color: #808080;
}

.article .article-link {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #F8F6FA;
}

.color-flipper-header {
  margin: 3rem 0 3rem;
  text-align: center;
}

.color-flipper-header h1 {
  font-weight: normal;
}

.color-flipper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (min-width: 768px) {
  .color-flipper-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.color-flipper-container #color-box {
  background-color: #F1F1F1;
  -webkit-box-shadow: -1rem 1rem 2rem rgba(16, 16, 16, 0.3);
          box-shadow: -1rem 1rem 2rem rgba(16, 16, 16, 0.3);
  border-radius: 0.75rem;
  width: 18.75rem;
  height: 18.75rem;
}

.color-flipper-container .color-flipper-descr {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .color-flipper-container .color-flipper-descr {
    margin: 0 4rem 0;
  }
}

.color-flipper-container .color-flipper-descr .color-txt {
  margin-bottom: 2rem;
}

.color-flipper-container .color-flipper-descr .color-txt .hex-code {
  font-weight: bold;
}

.color-flipper-container .color-flipper-descr .btn {
  color: #101010;
  background: transparent;
  width: 10rem;
  height: 3.5rem;
  padding: 1rem 0;
  border-radius: 0.75rem;
  border: 2px solid #101010;
}

.color-flipper-container .color-flipper-descr .btn:hover, .color-flipper-container .color-flipper-descr .btn:focus {
  border-width: 3px;
}

.counter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.counter-container #value {
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.counter-container .btn {
  background-color: transparent;
  padding: 0.5rem;
  border: solid 2px #101010;
  border-radius: 0.5rem;
}

.counter-container .btn:not(:last-child) {
  margin-right: 0.5rem;
}

.counter-container .btn:hover, .counter-container .btn:focus {
  color: #F1F1F1;
  background-color: #101010;
}

.bg-reviews {
  background-color: #101010;
}

.header {
  color: #F1F1F1;
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews-container .review {
  position: relative;
  color: #F1F1F1;
  background-color: #161616;
  -webkit-box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: -1rem 1rem 2rem rgba(0, 0, 0, 0.3);
  max-width: 30rem;
  margin: 0 1rem 3rem;
  padding: 21rem 2rem 2rem;
  text-align: center;
}

.reviews-container .review .author {
  color: #DC143C;
}

.reviews-container .review .reviewer-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews-container .review .job {
  display: table;
  margin: 0.5rem auto;
  color: #F1F1F1;
  background-color: #880808;
  padding: 0 0.5rem;
}

.reviews-container .review .reviewer-img, .reviews-container .review #job, .reviews-container .review #text {
  margin-bottom: 1rem;
}

.reviews-container .review .description {
  margin-bottom: 3rem;
}

.reviews-container .review .btn-container {
  margin-bottom: 0.5rem;
}

.reviews-container .review .btn-container .prev-btn, .reviews-container .review .btn-container .next-btn {
  color: #F1F1F1;
  background-color: transparent;
  border: none;
}

.reviews-container .review .btn-container .prev-btn:hover, .reviews-container .review .btn-container .prev-btn:focus, .reviews-container .review .btn-container .next-btn:hover, .reviews-container .review .btn-container .next-btn:focus {
  color: #DC143C;
}

.reviews-container .review .btn-container .prev-btn .material-symbols-outlined, .reviews-container .review .btn-container .next-btn .material-symbols-outlined {
  font-weight: bold;
}

.reviews-container .review .random-btn {
  color: #F1F1F1;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid #F1F1F1;
  padding: 0.5rem 1rem;
}

.reviews-container .review .random-btn:hover, .reviews-container .review .random-btn:focus {
  color: #DC143C;
  border-color: #DC143C;
}

.bg-navbar {
  background-color: #101010;
}

.navbar {
  background-color: #161616;
  padding: 1rem;
}

.navbar .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .nav-header .logo {
  width: 3rem;
}

.navbar .nav-header .nav-toggle {
  all: unset;
  -webkit-transition: linear transform 300ms;
  transition: linear transform 300ms;
}

.navbar .nav-header .nav-toggle:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navbar .nav-header .nav-toggle .nav-icon {
  color: #F1F1F1;
  font-size: 1.5rem;
}

.navbar .links {
  height: 0;
  overflow: hidden;
  -webkit-transition: height 1s;
  transition: height 1s;
  list-style-type: none;
}

.navbar .links .link {
  margin-top: 1rem;
}

.navbar .links .link:first-child {
  margin-top: 2rem;
}

.navbar .links .link a {
  color: #808080;
  text-decoration: none;
}

.navbar .links .link a:hover {
  color: #F1F1F1;
  border-left: solid 2px #F1F1F1;
  padding-left: 0.5rem;
}

.navbar .show-links {
  height: 12rem;
}

.navbar .socials {
  display: none;
}

@media (min-width: 768px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar .nav-header .nav-toggle {
    display: none;
  }
  .navbar .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    margin: 0 3rem;
  }
  .navbar .links .link {
    margin: 0 1rem;
  }
  .navbar .links .link:first-child {
    margin-top: 0;
  }
  .navbar .links .link a:hover {
    border-left: none;
    border-bottom: solid 2px #F1F1F1;
    padding: 0 0 0.5rem 0;
  }
  .navbar .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
  }
  .navbar .socials .social:not(:first-child) {
    margin: 0 0 0 0.5rem;
  }
  .navbar .socials .social .social-icon {
    color: #888FF5;
    font-size: 1.25rem;
  }
  .navbar .socials .social .social-icon:hover {
    color: #F1F1F1;
  }
}

.countdown-timer {
  background-image: url("../images/snowy-mountains.jpg");
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 3rem 1rem;
}

.countdown-timer h1 {
  font-weight: normal;
  font-size: 2rem;
}

.countdown-timer .countdown-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.countdown-timer .countdown-container .counter {
  text-align: center;
}

.countdown-timer .countdown-container .counter .number {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 2rem;
}

@media (min-width: 768px) {
  .countdown-timer .countdown-container .counter .number {
    font-size: 3.5rem;
  }
}

.countdown-timer .countdown-container .counter .time-unit {
  font-size: 1rem;
}

.header {
  margin: 3rem 0 3rem;
  text-align: center;
}

.header h1 {
  font-weight: normal;
}
/*# sourceMappingURL=style.css.map */